
:root {
    --outer-space: #a8abaf;
  }
  
  ::selection {
    background-color: var(--outer-space);
  }

  body {
    background-color: var(--outer-space);  
  }

  h3 { text-align:center
  }

 